<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="policyId">
    <th mat-header-cell *matHeaderCellDef>POLICY ID</th>
    <td mat-cell *matCellDef="let element">
      {{ element.policyId }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="statecode">
    <th mat-header-cell *matHeaderCellDef>STATE-CODE</th>
    <td mat-cell *matCellDef="let element">
      {{ element.statecode | uppercase }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="county">
    <th mat-header-cell *matHeaderCellDef>COUNTY</th>
    <td mat-cell *matCellDef="let element">{{ element.county }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef>SUM</th>
    <td mat-cell *matCellDef="let element">{{ element.sum }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
